*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --bg:rgb(250, 249, 249);
    --secondary:rgb(228, 22, 22);
}

.img-fluid{
    height:100px;
    margin-right:5em;
}

.hr-line{
    background:var(--secondary);
    display:flex;
    width:100%;
}
