*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --bg:rgb(250, 249, 249);
    --secondary:#f8ab00;
}

.img-fluid{
    height:100px;
    display: inline-block;
}
.line{
    width:100%;
    height:2px;
    background:var(--secondary);
}
